body {
    height: 100vh;
    margin: 0;
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
}

.top {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
}

.game_container {
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

.guess_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19%;
    width: 19%;
    font-size: 2rem;
    background-color: rgb(230, 230, 230);
}

.guess_box:hover {
    background-color: darkgray;
    color: white;
}

.red, .blue, .civilian, .assassin {
    color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.civilian {
    background-color: gray;
}

.civilian {
    background-color: burlywood;
}

.assassin {
    background-color: black;
}

button {
    margin: 0;
    width: 100px;
}

#hideButton {
    display: block;
    margin: auto;
}

.instructionsSection {
    margin: 0 20px;
}

.buttons {
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 100%;
    border: 0;
    padding: 10px;
    background-color: lightgray;
}

button:hover {
    background-color: darkgray;
    color: white;
}
