body {
    height: 100vh;
    margin: 0;
}

.top {
    height: 20%;
    background-color: hotpink;
}

header {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Special Elite', cursive;
}

.game_container {
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

.guess_box {
    height: 19%;
    width: 19%;
    font-size: 20px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    text-transform: uppercase;
}

.red, .blue, .civilian, .assassin {
    color: white;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.civilian {
    background-color: burlywood;
}

.assassin {
    background-color: black;
}

.reset {
    height: 15%;
    background-color: blueviolet;
    box-shadow: none;
    margin: auto;
}

#reset_game {
    margin: 0;
    width: 100px;
}
